@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: azure;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow-x: hidden;
}

.greetings {
    font-size: 6rem;
    font-weight: 900;
    text-align: center;
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #d63987, 0 0 50px #d169c3, 0 0 100px #e966ae;
    }
    10%, 90% {
        color: #111;
        text-shadow: none;
    }
}

.description {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.button a {
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width: 574px) {
    .greetings {
        font-size: 3rem;
        font-weight: 500;
    }

    .description {
        font-size: 1rem;
    }

    .button a {
        font-size: 0.8rem;
    }
}
